*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('base.png');
    background-repeat: no-repeat;
    height: auto;
    
}
.header{
    background-image: url(img_profil.png);
    background-position: center;
    background-size: cover;
    width:100%;
    height: 600px;
    margin-top: -20px;
}
.table1{
    font-size: 15px;
    font-family: ;
    color:white;
    padding-top: 21px;
    float:right;
    font-family: Montserrat;
    text-align: center;
}
.menu{
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    height:70px;
    width: 100%;
    position:fixed;
    top:0;
}
.logo{
    margin-left: 100px;
    padding-top: 10px;
    float: left;
}
.td1{
    padding-right: 80px;
}
#btn{
    font-size: 15px;
    color:white;
    border-radius: 30px;
    height:45px;
    width: 140px;
    border : none;
    background-color: #008AFF;
    box-shadow: 0px 0px 35px -6px rgb(104, 168, 221);
    font: montserrat;
    display: inline;
    
} 
#btn:hover{
    font-size: 15px;
    color:black;
    border-radius: 30px;
    height:45px;
    width: 140px;
    border : none;
    background-color:#FFF;
    box-shadow: 0px 0px 35px -6px rgb(104, 168, 221);
    font: montserrat;
    display: inline;
    
} 
#btn1{ 
    float: left;
    color:white;
    background: none;
    border-radius: 30px;
    margin-top: 60px;
    margin-left: 20px;
    height:50px;
    width: 160px;
    border: none;
    box-shadow: 0px 0px 35px -6px rgb(236, 240, 241);
    font: montserrat;
    font-size: 15px;
    display: inline;
    transition-duration: 0.5s;
}
#btn1:hover{ 
    float: left;
    color:#666666;
    background: white;
    border-radius: 30px;
    margin-top:90px;
    margin-left: 20px;
    height:50px;
    width: 160px;
    border: none;
    box-shadow: 0px 0px 35px -6px rgb(236, 240, 241);
    font: montserrat;
    font-size: 15px;
    display: inline;
}

#btn2{
    font-size: 15px;
    margin-left:10px;
    margin-top: 58px;
    color:white;
    border-radius: 30px;
    height:50px;
    width: 260px;
    border : none;
    background-color: #008AFF;
    box-shadow: 0px 0px 35px -6px rgb(104, 168, 221);
    font: montserrat;
    display: inline;
    transition-duration: 0.5s;
}   
#btn2:hover{
    font-size: 15px;
    margin-left:10px;
    margin-top: 58px;
    color:#666;
    border-radius: 30px;
    height:50px;
    width: 260px;
    border : none;
    background-color: #FFF;
    box-shadow: 0px 0px 35px -6px rgb(104, 168, 221);
    font: montserrat;
    display: inline;
} 
#play{ 
    float : left;
     z-index: 1;
    display: inline;
    margin-left: 60px;
    margin-top : 65px;
}
#para1{
    margin-top: 30px;
    color: white;
    font-size: 60px;
    padding-top:170px;
    margin-left: 40px;
    font-family: Montserrat;
}

#para2{
    color: white;
    font-size: 30px;
    margin-top: 34px;
    margin-left: 50px;
    font-family: Montserrat ;
}
#titre1{
    color: #666666;
    margin-top: 100px;
    font-size: 40px;
    font-family: Montserrat;
    text-align: center;

}

pre{
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: lighter;
    font-weight: 100;
    font-size: bold;
}

.icons{
    margin-left: 280px;
    margin-top: 30px;
}

.icon{
    margin-right: 310px;
}


h4{
font-size: 24px;
letter-spacing: 0.08em;
color: rgb(92, 91, 91);
margin-bottom: 30px;
}

.parag{
    display:flex;
    text-align:center;
 
}

.parag1{
    margin-top:30px;
    margin-left:50px;
    margin-bottom: 30px;   
    width: 350px;
    line-height: 25px;
}

.parag2{
    margin-top:30px;
    margin-left:50px;
    margin-bottom: 30px;
    width: 350px;
    line-height: 25px;
}

.parag3{
    margin-top:30px; 
    margin-bottom: 30px;
    margin-left: 30px;
    width: 350px;
    line-height: 25px;
}

.imageleft{
    margin-top:70px;
    float:left;
}

.paragright{
    margin-top:70px;
    width:613px;
     height:500px;
     float: right;
     background-color: #008AFF;
}

.titre1{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family:Montserrat;
}

.titre2{
    margin-top:30px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family:Montserrat;
}

.parag4{
    margin-left:40px;
    margin-right:40px;
    margin-top:30px;
    color: white;
    font-size: 15px;
    font-family:Montserrat;
    line-height: 28px;
}

.Partie2{
    margin-top : 700px;
    background-image: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,1)) ,url(imgSimp.png);
    width:100%;
    height:800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pow{
    color: #008AFF;
    font-size: 15px;
    margin-top: -500px;
    font-weight: bold;
}

#simp1{
    color: #008AFF;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: normal;
}
#simp2{
    color: white;
    font-size: 50px;
    //margin-left: -45px;
    font-family:  Montserrat;
    font-weight : normal;
    margin-left: 10px;
}


.blue{
    background-color:#008AFF;
    height: 200px;
    width:100%;
    margin-top: 350px;
}

p{
    text-align: center;
    color: #666666;
    font-size: 20px;
    font-family:  montserrat;
}

.paragTab{
    margin-top:30px;
    color:white;
    text-align: center;
    font-size: 25px;
    font-family: montserrat;
}

.lastparag{
    font-size: 15px;
    margin-left:70px;
    font-family: montserrat;
    margin-top:100px;
    letter-spacing: 0.08em;
    line-height: 40px;
    margin-right: 70px;
}

.ocp{
    margin-top: 100px;  
}
#ocp1{
    color:black;
     text-align:center;
    font-family: montserrat;
    font-weight: bold;
    font-size: 60px;
}

.imOcp{
    text-align: center;
    margin-top: 10px;
}
.table3{
    width:100%;
    text-align:center;
    margin-top:90px;
    font-family:montserrat;
    
}

#btn3{
    color:white;
    font-family:montserrat;
    background-color: #008AFF;
    border-radius: 20px;
    height:40px;
    width: 420px;
    border: none;
    box-shadow: 0px 0px 35px -6px rgb(104, 168, 221);
    margin-right: -120px;

}

#btn3:hover{
    color:black;
    font-family:montserrat;
    background-color: white;
    border-radius: 20px;
    height:40px;
    width: 420px;
    border: none;
    margin-right: -120px;

}

.insc{
    text-align: center;
    font-family: montserrat;
    font-size: 30px;
}

.footer{
    background-color: black;
    width: 100%;
    height: 60px;
    margin-top:60px;
  
}

.table4{
    color: #666666;
    text-align: right;
    width: 100%; 
    font-family: montserrat;
    letter-spacing: 0.08em;
}

.reseaux{
    float:right;
    display: inline;
    text-align:start;
}

.copyright{
    margin-right: -50px;
}
.support{
    color:rgb(41, 122, 230);
}

.contact{
    float:left;
}
.res1{
    float: left;
    padding-left: 20px;
    margin-left: 45px;
}
a {
    text-decoration: none;
    font-family: montserrat;
    color: white;
    
}
a:hover {
    text-decoration: none;
    font-family: montserrat;
    font-weight: bold;
    color:  #008AFF;
    
}